# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
scripts/import-2021-archive.js
scripts/import-2022-archive.js
scripts/import-2023-archive.js
scripts/import-2024-archive.js
scripts/import-2025-archive.js
SuperBowl-PropBet-Tracker.xlsx
Untitled spreadsheet (1).xlsx
Untitled spreadsheet (2).xlsx
Untitled spreadsheet (3).xlsx
